/* Start Var */
:root{
    --main-color: #23464d;
    --sec-color: #15a79b;
    --background-end: #001513;
    --text-color: rgb(190, 183, 255);
}
/* End Var */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* End Global Rules */
/* Start Title */
.title h1{
  font-weight: 900;
  font-size: 50px;
  margin: 0;
}

.title .sub{
  margin: 10px;
  font-weight: lighter;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 700px){
  .title h1{
    font-size: x-large;
  }

  .title .sub{
    font-size: small;
  }
}
/* End Titel */
/* Start Header */
.header{
  padding: 50px 150px 150px 150px;
  background-image: url(../Image/penguin-2203693_1920.jpg);
  background-size: cover;
  color: white;
}

.header .container .menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.header .container .menu img{
  width: 150px;
}

.header .container .menu .menu_val{
  display: flex;
  font-weight: 400;
}

.header .container .menu .menu_val a{
  padding: 10px 40px;
  background: #15a79b;
  text-decoration: none;
  color: white;
}

.header .container .menu .menu_val a:hover{
  font-weight: 700;
  background-color: #23464d;
}

.header .container h1{
  font-weight: 900;
  font-size: 50px;
  margin: 0;
}

.header .container p{
  font-weight: lighter;
  font-size: xx-large;
  margin: 10px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lines{
  display: none;
}

.menu_phone .menu_val_line{
  display: none;
}

/* Start Phone Style */
@media (max-width: 700px){
  .header{
    padding: 50px 0;
    text-align: center;
  }

  .header .container .menu{
    display: block;
    margin: auto;
  }

  .header .container .menu img{
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .header .container .menu .menu_val{
    display: none;
  }

  .menu_phone{
    position: relative;
  }

  .lines{
    display: block;
    position: absolute;
    right: 0;
    top: -30px;
  }

  .lines .line{
    width: 50px;
    height: 7px;
    background-color: var(--sec-color);
    margin-bottom: 5px;
  }

  .menu_phone:hover .menu_val_line{
    width: 100%;
    display: block;
    position: absolute;
    margin: 15px 0 ;
    background-color: var(--sec-color);
  }

  .menu_phone:hover .menu_val_line .tring{
    width: 10px;
    border: 10px solid;
    border-color: transparent transparent var(--sec-color) transparent;
    position: absolute;
    top: -20px;
    right: 15px;
  }

  .menu_phone .menu_val_line a{
    padding: 10px 40px;
    background: #15a79b;
    text-decoration: none;
    color: white;
    display: block;
  }

  .menu_phone .menu_val_line a:hover{
    font-weight: 700;
    background-color: #23464d;
  }
} 
/* End  Phone Style */
/* End Header */
/* Start AboutUs */
.aboutUs {
  margin: 50px 0;
}

.aboutUs .container{
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 50px;
  align-items: center;
}

.aboutUs .container .text{
  height: 100%;
  align-self: start;
}

.aboutUs .container .text p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: grey;
}

.aboutUs .container .text .sub{
  margin: 0;
  font-size: 20px;
}

.aboutUs .container img{
  width: 80%;
  margin: auto;
}

.aboutUs .container button{
  width: 30%;
  height: 15%;
  background-color: var(--sec-color);
  font-size: larger;
  font-weight: 600;
  color: white;
  border: none;
}

.aboutUs .container button:hover{
  background-color: var(--main-color);
}

@media (max-width: 700px){
  .aboutUs .container{
    display: block;
    text-align: center;
  }

  .aboutUs .container img{
    width: 100%;
    margin-bottom: 30px;
  }

  .aboutUs .container button{
    width: 50%;
    height: 30px;
  }
}
/* End AboutUs */
/* Start Sponsoer */
.sponsoer{
  padding: 50px 0;
  text-align: center;
  background-color: var(--main-color);
  color: white;
}

.sponsoer .container .boxes{
  display: grid;
  grid-template-columns: repeat(4,minmax(20%, 1fr));
  column-gap: 2.5%;
  margin-top: 30px;
  align-items: center;
}

.sponsoer .container .boxes .box{
  width: 100%;
  height: 150px;
  background-color: var(--sec-color);
  font-weight: 100;
  padding: 10px;
}

@media (max-width: 700px){
  .sponsoer .container .boxes{
    display: block;
    padding: 30px;
  }

  .sponsoer .container .boxes .box{
    margin: 0 0 30px 0;
  }
}
/* End Sponsoer */
/* Satrt Contact */
.contact{
  color: white;
  background-color: var(--background-end);
  padding: 50px 0;
}

.contact .container{
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
}

.contact .container .contactUs input:first-child{
  margin-top: 30px;
}

.contact .container .contactUs input{
  width: 60%;
  margin-bottom: 15px;
}

.contact .container .contactUs textarea{
  width: 80%;
  height: 200px;
  resize: none;
  display: block;
}

.contact .container .contactUs button{
  width: 150px;
  height: 50px;
  margin-top: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--sec-color);
  color: white;
  font-size: 20px;
}

.contact .container .sitemap a{
  display: block;
  margin: 30px 20px;
  font-size: x-large;
  font-weight: lighter;
  text-decoration: none;
  color: white;
}

.contact .container img{
  width: 100px;
}

.contact .container .phone{
  margin: 50px 0;
}

.contact .container .mail,.phone{
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.contact .container .mail p,.phone p{
  display: inline;
  font-weight: lighter;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 10px;
}

@media (max-width: 700px){
  .contact .container{
    display: block;
    text-align: center;
  }

  .contact .container .contactUs textarea{
    margin: auto;
  }

  .contact .container .contactUs,.sitemap{
    margin-bottom: 100px;
  }

  .contact .container .np .phone, .mail{
    justify-content: center;
  }

  .contact .container .mail p, .phone p{
    font-size: 15px;
  }
}
/* End Contact */
/* Start Foter */
.footer{ 
  text-align: center;
  background-color: black;
  color: var(--text-color);
  padding: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer h5{
  color: var(--sec-color);
  font-weight: 900;
  display: inline;
}

.footer p{
  display: inline;
  font-weight: 100px;
}
/* End Foter */